body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif
}

.login-page {
  background-color: #1061E4;
  height: 500px;
  width: 300px;
  text-align: center;
}

.goodwatch-logo {
  height:50%;

}

.login-buttons {
  margin: 2px;
}