* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  background: #003385;
  color: black;
  font-family: Arial, Helvetica, sans-serif
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-page {
  background-color: #1061E4;
  height: 700px;
  width: 500px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
}

.goodwatch-logo {
  height:70%;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  min-height: 98vh;
  padding: 10px;
  }
  
  .movie-list {
    grid-area: 2 / 1 / 6 / 3;
    border: 2px solid #003385;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  .search-window { 
    grid-area: 2 / 3 / 5 / 6; 
    border: 2px solid #003385;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  .review-modal { 
    grid-area: 5 / 3 / 6 / 6;
    border: 2px solid #003385;
    border-radius: 5px;
    margin: 10px;
    padding: 10px; 
  }

  .dashboard-header {
    grid-area: 1 / 1 / 2 / 6;
    border: 2px solid #003385;
    border-radius: 5px;
    margin: 10px;
    padding: 10px; 
  }